<?xml version="1.0"?>

<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
	
		<compilation debug="true">
		</compilation>

		<authentication mode="Forms"/>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
	</system.web>
</configuration>
